.material-table {
  width: 100%;
  min-width: 1000px;
  margin: 0px auto;
  border-collapse: collapse;
  position: relative;
  background-color: #fff;
  display: none;

  & thead tr th {
    @include Roboto-Medium;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.54);
    text-align: left;
    padding: 22px;
    vertical-align: top;
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    &:first-child {
      display: none;
    }
  }

  & tbody tr td {
    @include Roboto-Regular;
    @include text-selectable;
    text-align: left;
    padding: 24px;
    vertical-align: top;
    border-top: 0;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;

    &:first-child {
      display: none;
    }

    &:last-child {
      padding-left: 0px;
      padding-right: 0px;
      width: 40px;

      & .menu-icon {
        width: 40px;
        height: 64px;
        right: 22px;
        @include image-center(24px, auto);
        background-image: url(images/Toolbar/more.png);
        opacity: 0.7;
        position: absolute;
        @include center-vertical;
        cursor: pointer;
      }
    }
  }

  & tbody tr {
    transition: 0.3s background-color;
  }

  & tbody tr:hover {
    background-color: #eee;
    transition: 0.3s background-color;
  }

  & tbody .border td {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  & .bold {
    @include Roboto-Medium;
  }

  &.checkboxes {
    & thead tr th {
      &:first-child {
        display: table-cell;
      }

      &:last-child {
        display: none;
      }
    }

    & tbody tr td {
      &:first-child {
        display: block;
      }

      &:last-child {
        display: none;
      }
    }
  }

  & .picture-header {
    display: none;
  }

  & .picture-cell {
    display: none;
  }
}
