.material-button {
  width: auto;
  min-width: 88px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 2px;
  @include Roboto-Medium;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #3f51b5;
  font-size: 14px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.material-button.no-shadow {
  box-shadow: none;
}
