.material-text-field {
  width: 100%;
  position: relative;
  @include Roboto-Regular;

  &::after {
    content: '';
    display: block;
    clear:both;
  }
}

.material-text-field-input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  outline: none;
  border: none;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  text-shadow: 0px 0px 0px #000;
  color: #FFC107;
  cursor: text;
  display: none;
}

.material-text-field-input:disabled {
  background-color: transparent;
}

.material-text-field-input::placeholder {
  color: #000;
  opacity: 0;
}

.material-text-field.enabled > .material-text-field-input::placeholder {
  opacity: 0.7;
}

.material-text-field-text-area {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  -webkit-text-fill-color: transparent;
  background-color: transparent;
  text-shadow: 0px 0px 0px #000;
  color: #FFC107;
  cursor: text;
  display: none;
  resize: none;
  outline: none;
  border: none;
  margin: 0;
  text-decoration: none !important;
  @include Roboto-Regular;
}

.material-text-field-text-area:disabled {
  background-color: transparent;
}

.material-text-field-text-area::placeholder {
  color: #000;
  opacity: 0;
}

.material-text-field.enabled > .material-text-field-text-area::placeholder {
  opacity: 0.7;
}

.material-text-field-hint {
  position: absolute;
  left: 0;
  transition: 0.3s color, 0.3s top, 0.3s font-size, 0.3s opacity;
  cursor: text;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.material-text-field.disabled > .material-text-field-hint {
  font-size: 16px;
  color: #000;
  top: 8px;
  opacity: 0.7;
}

.material-text-field.enabled > .material-text-field-hint {
  color: #FFC107;
  top: -12px;
  font-size: 14px;
  opacity: 1;
}

.material-text-field.error > .material-text-field-hint {
  color: #d32f2f;
  opacity: 1;
}

.material-text-field-divider {
  width: 100%;
  height: 2px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.42);
  transition: 0.3s opacity, 0.3s height, 0.3s background-color;
}

.material-text-field-focus-divider {
  height: 2px;
  margin-top: -2px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s width, 0.3s background-color;
  background-color: #FFC107;
}

.material-text-field.disabled > .material-text-field-focus-divider {
  width: 0%;
}

.material-text-field.enabled > .material-text-field-focus-divider {
  width: 100%;
}

.material-text-field.error > .material-text-field-focus-divider {
  background-color: #d32f2f;
  width: 100%;
}

.material-text-field-helper-text {
  font-size: 14px;
  color: #000;
  opacity: 0.6;
  margin-top: 8px;
  float: left;
  transition: 0.3s opacity, 0.3s color;
}

.material-text-field.error > .material-text-field-helper-text {
  color: #d32f2f;
  opacity: 1;
}

.material-text-field-counter {
  font-size: 12px;
  color: #000;
  opacity: 0.6;
  margin-top: 12px;
  float: right;
  transition: 0.3s opacity, 0.3s color;
}

.material-text-field-counter:after {
  content: '';
  clear: both;
  display: block;
}

.material-text-field.error > .material-text-field-counter {
  color: #d32f2f;
  opacity: 1;
}

.material-text-field-icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.7;
  display: none;
}

.material-text-field-action-icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  opacity: 0.7;
  width: 24px;
  height: 24px;
  right: 0;
  top: -8px;
  display: none;
  //background-image: url(../src/images/LoginDialog/visible.png);
}
