.expansion-panel {
  width: 100%;
  height: 48px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease height;
  font-size: 15px;
  @include Roboto-Regular;
  margin-top: 16px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-radius: 2px;

  &:first-child {
    margin-top: 0px;
  }

  & .title-container {
    height: 48px;
    position: relative;

    & .title {
      position: relative;
      @include center-vertical;
      margin-left: 24px;
    }

    & .icon-container {
      width: 48px;
      height: 48px;
      right: 12px;
      position: absolute;
      @include center-vertical;

      & .toggle-icon {
        width: 100%;
        height: 100%;
        @include image-center(24px, auto);
        background-image: url(images/Post/expand_more.png);
        transition: 0.3s ease transform;
        cursor: pointer;
        opacity: 0.54;
      }
    }
  }

  & .content {
    position: relative;
  }
}
