.filter-dialog .material-dialog-content {
  overflow: visible;
}

.filter-dialog-section {
  position: relative;
  margin-top: 16px;

  & .title {
    position: absolute;
    left: 0;
    @include center-vertical;
  }

  & .control {
    float: right;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
