.posts {
  transition: 0.3s opacity;
  z-index: 6;
}

.fullscreen-post {
  width: 100% !important;
  transition: all 0.3s !important;
  position: absolute !important;
  margin-top: 0 !important;

  & .post-avatar-right {
    @include text-selectable
  }

  & .post-text {
    @include text-selectable
  }

  & .post-action-like-count {
    @include text-selectable
  }

  & .post-comments .post-comment-avatar-right {
    @include text-selectable
  }
}

.load-posts-button {
  width: 100% !important;
  max-width: 164px;
  margin: 24px auto;
  display: none;
}

.posts-fab-container {
  width: 56px;
  height: 56px;
  transition: 0.3s width, 0.3s height;
  position: fixed;
  right: 32px;
  bottom: 32px;
  display: none;
  z-index: 2;
}

.posts-fab {
  width: 0px;
  height: 0px;
  transition: 0.3s width ease, 0.3s height ease;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  & .material-fab-icon {
    background-image: url(images/Post/expand_less.png);
    @include invert-colors;
  }
}

.load-posts-preloader {
  width: 54px;
  height: 54px;
  margin: 24px auto;
}
