html, body {
  @include Roboto-Regular;
  @include cursor-default;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important;
}

.pages {
  position: relative;
  height: calc(100% - 64px);
  z-index: 7;
  transition: 0.3s opacity;
  background-color: $backgroundColor;
}

.app-content {
  position: fixed;
  background-color: #FFFFFF;
  transition: width 0.3s ease;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.data-preloader {
  width: 54px;
  height: 54px;
  position: fixed;
  @include center;
  z-index: 8;
  display: none;
}

.toolbar-menu {
  position: fixed !important;
  width: 0px;
  height: 0px;
  top: 8px;
  right: 32px;
  opacity: 0;
  display: none;
  transition: 0.3s opacity, 0.25s height ease-out, 0.2s width ease-out;

  & .material-menu-item {
    opacity: 0;
    transition: 0.3s opacity;
  }
}

.fab {
  width: 56px;
  height: 56px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  transition: 0.3s bottom ease-out;

  & .material-fab {
    width: 0px;
    height: 0px;
    position: absolute;
    @include center;
    display: none;
    transition: 0.3s width, 0.3s height;

    & .material-fab-icon {
      background-image: url(images/Posts/add.png);
    }
  }
}

a {
  color: #3f51b5;
  text-decoration: none;
  @include Roboto-Regular;
  font-size: 14px;
  display: block;
}

.full-screen-dialog {
  width: 100%;
  height: calc(100% - 64px);
  top: 64px;
  background-color: #F5F5F5;
  position: fixed;
  overflow-y: auto;
  opacity: 0;
  transition: 0.3s opacity;
  display: none;
}

.clear-both {
  clear: both;
}

.input-dialog {
  & .material-dialog-content {
    padding-top: 20px;
    margin-top: 0px;
    overflow: hidden;
  }

  & .material-preloader {
    width: 54px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  &.enabled-preloader {
    & .material-dialog {
      min-height: 205px;
    }

    & .material-preloader {
      display: block
    }

    & .material-text-field, & .material-dialog-action, & .text {
      display: none;
    }
  }
}

.error-dialog .material-dialog {
  max-width: 450px;
}
