.search-icon {
  -webkit-filter: none;
  position: relative;
  height: 100%;
  top: 0px;
  padding: 0px;
}

.search-icon-container {
  width: 64px;
  overflow: hidden;
  position: absolute;
  right: 0;
  transition: 0.3s width ease-in-out;
}

.search-icon-container.toggled {
  width: 400px;
  overflow: visible;
}

.search-icon-container.full-width {
  width: 100%;
  overflow: visible;

  & .search-icon-button {
    display: none;
  }

  & .search-icon-text-field {
    width: 100% !important;
  }
}

.search-icon-button {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  float: left;
  cursor: pointer;
  @include invert-colors;
  transition: 0.3s opacity, 0.3s visibility;
}

.search-icon-text-field {
  width: calc(100% - 64px) !important;
  float: left;
  margin-top: 10px;

  & .material-text-field-input {
    text-shadow: 0px 0px 0px #fff;
    color: #fff;
  }

  & .material-text-field-input::placeholder {
    color: #fff;
    opacity: 0.7
  }

  & .material-text-field-divider {
    background-color: #fff;
  }

  & .material-text-field-focus-divider {
    background-color: #fff;
  }

  & .material-text-field-action-icon {
    display: none;
    opacity: 0.7;
    background-image: url(images/Toolbar/close.png);
    @include invert-colors;
    top: 5px;
    transition: 0.3s opacity;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}
