.search-icon {
  -webkit-filter: none;
  position: relative;
  transition: all 0.3s;
}

.search-icon-button {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  float: left;
  cursor: pointer;
  @include invert-colors;
}

.search-icon-textfield {
  float: left;
  margin-top: 12px;
  transition: 0.3s width ease-in-out;

  & .material-text-field-input {
    color: #fff;
    width: calc(100% - 24px) !important;
  }

  & .material-text-field-place-holder {
    color: #fff;
    opacity: 0.5;
  }

  & .material-text-field-divider {
    background-color: #fff;
  }

  & .material-text-field-action-icon {
    top: 5px;
    opacity: 0.7;
    @include invert-colors;
  }
}
