.search-icon {
  -webkit-filter: none;
  position: relative;
  height: 100%;
  transition: 0.3s width ease-in-out;
}

.search-icon-button {
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  float: left;
  cursor: pointer;
  @include invert-colors;
  transition: 0.3s opacity, 0.3s visibility;
}

.search-icon-textfield {
  //width: calc(100% - 64px) !important;
  float: left;
  margin-top: 10px;

  & .material-text-field-input {
    color: #fff;
  }

  & .material-text-field-place-holder {
    color: #fff;
    opacity: 0.5;
  }

  & .material-text-field-divider {
    background-color: #fff;
  }

  & .material-text-field-action-icon {
    top: 5px;
    @include invert-colors;
    transition: 0.3s opacity, 0.3s visibility;
  }
}
