.post {
  width: 500px;
  height: auto;
  background-color: #fff;
  color: #444;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  margin: 0 auto;
  border-radius: 2px;
  transition: 0.3s opacity, 0.3s width;
  margin-top: 32px;
}

.post-media {
  width: 100%;
  height: auto;
}

.post-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  @include image-center(100%, 100%);
  background-image: url(https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/14581320_549947718524540_5437545186607783553_n.jpg?oh=1d709d8978f80d6887041c3e9583f27f&oe=59994281);
  float: left;
}

.post-info {
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  float: left;
}

.post-primary {
  margin-left: 64px;
  width: calc(100% - 64px);
}

.post-title {
  font-size: 24px;
}

.post-sub-title {
  font-size: 16px;
  opacity: 0.75;
}

.post-text {
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  clear: both;
}

.post-action {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  height: 40px;
}

.post-action-item {
  width: 24px;
  height: 24px;
  cursor: pointer;
  @include image-center(24px, 24px);
  opacity: 0.7;
  padding: 8px;
  float: right;
}

.post-action-like {
  background-image: url(images/Post/favorite_full.png);
}

.post-action-show-comments {
  background-image: url(images/Post/expand_more.png);
  background-size: 26px 26px;
  transform: rotate(0deg);
  transition: 0.3s transform ease-in-out;
}

.post-action-item-count {
  float: right;
  font-size: 16px;
  margin-top: 10px;
  @include Roboto-Medium;
}

.post-comments {
  clear: both;
}

.post-comments {
  height: 0px;
  overflow: hidden;
  transition: 0.3s height ease-in-out;
}
