.post {
  width: 60%;
  height: auto;
  background-color: #fff;
  color: #444;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 32px;

  &:first-child {
    margin-top: 24px;
  }
}

.post-avatar {
  width: 40px;
  height: 40px;
  float: left;
  margin-top: 16px;
  margin-left: 20px;
  @include image-center(40px, 40px);
}

.post-avatar-right {
  width: auto;
  float: left;
}

.post-title {
  padding-left: 12px;
  padding-right: 20px;
  padding-top: 16px;
  font-size: 19px;
  @include Roboto-Medium;
  display: block;
}

.post-info {
  padding-left: 12px;
  padding-right: 6px;
  padding-top: 1px;
  font-size: 14px;
  @include Roboto-Medium;
}

.post-text {
  font-size: 16px;
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 32px;
  @include Roboto-Regular;
  clear:both;
}

.post-action {
  width: 100%;
  height: 24px;
  margin-top: 24px;
  margin-bottom: 12px;
  @include cursor-default;
}

.post-action-like {
  width: 24px;
  height: 24px;
  @include image-center(24px, 24px);
  opacity: 0.7;
  margin-left: 20px;
  float: left;
  cursor: pointer;
}

.post-action-like-count {
  width: auto;
  height: 26px;
  margin-top: 4px;
  margin-left: 8px;
  float: left;
  font-size: 16px;
  @include Roboto-Medium;
}

.post-action-show-comments {
  width: 200px;
  height: 24px;
  font-size: 15px;
  text-align: center;
  margin-right: 20px;
  margin-top: 4px;
  float: right;
  position: relative;
}

.post-action-show-comments-button {
  width: 28px;
  height: 28px;
  @include image-center(28px, 28px);
  opacity: 0.7;
  position: absolute;
  right: 0;
  top: -4px;
  cursor: pointer;
  transition: 0.3s transform;
}

.post-comments {
  width: 100%;
  height: 0px;
  max-height: 224px;
  overflow: hidden;
  transition: height 0.3s;
}

.post-comment {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 20px;
  width: 100%;
}

.post-comment-author {
  @include Roboto-Medium;
  font-size: 16px;
}

.post-comment-text {
  @include Roboto-Regular;
  font-size: 14px;
}

.post-comment-date {
  margin-top: 2px;
  @include Roboto-Medium;
  font-size: 14px;
}

.post-comment-avatar {
  width: 36px;
  height: 36px;
  float: left;
  @include image-center(36px, 36px);
}

.post-comment-avatar-right {
  width: calc(100% - 76px);
  float: left;
  padding-left: 12px;
}
