.multiIcon {
  width: 24px;
  height: 16px;
  position: relative;
}

// ARROW

.multiIcon-arrow-change {
  transition: all 0.5s;
  transform: rotate(180deg);
}

.multiIcon-arrow-backtodefault {
  transition: all 0.5s;
  transform: rotate(360deg);
}

.multiIcon-arrow {
  & .multiIcon-grid-3 {
    width: 50%;
    margin: 14% 51%;
    transform: rotate(-45deg);
  }

  & .multiIcon-grid-2 {
    width: 70%;
    right: 10%;
  }

  & .multiIcon-grid-1 {
    width: 50%;
    margin: 14% 51.5%;
    transform: rotate(45deg);
  }
}

// EXIT

.multiIcon-exit-change {
  transition: all 0.5s;
}

.multiIcon-exit {
  & .multiIcon-grid-3 {
    width: 80%;
    margin: 29% 12%;
    transform: rotate(-45deg);
  }

  & .multiIcon-grid-2 {
    opacity: 0;
  }

  & .multiIcon-grid-1 {
    width: 80%;
    margin: 29% 12%;
    transform: rotate(45deg);
  }
}

.multiIcon-grid {
  width: 100%;
  height: 2px;
  background-color: #000;
  position: absolute;
  transition: all 0.5s;
}

.multiIcon-grid-1 {
  top: 0;
  left: 0;
}

.multiIcon-grid-2 {
  right: 0;
  @include center-vertical;
}

.multiIcon-grid-3 {
  bottom: 0;
  left: 0;
}
