.page-gallery-container {
  width: calc(100% - 16px);
  max-width: 960px;
  margin: 24px auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-left: 16px;
  padding-bottom: 16px;
}
