.page-gallery-container {
  width: calc(100% - 16px);
  max-width: 828px;
  margin: 24px auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding-left: 16px;
  padding-bottom: 16px;
  opacity: 0;
  transition: 0.3s opacity, 0.3s max-width, 0.3s background-color, 0.3s box-shadow;
  display: none;
}

@media (max-width: 875px) {
  .page-gallery-container {
    max-width: 624px;
  }
}

@media (max-width: 670px) {
  .page-gallery-container {
    max-width: 420px;
  }
}

@media (max-width: 455px) {
  .page-gallery-container {
    max-width: 216px;
  }
}

@media (max-width: 670px) {
  .page-gallery-container {
    width: 100%;
    box-shadow: none;
    background-color: transparent;
  }
}
