.material-time-picker {
  width: 600px;
  height: 356px;
  position: fixed;
  @include center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  @include Roboto-Regular;
  z-index: 9;
  transition: 0.3s opacity, 0.3s top;
  display: none;
  opacity: 0;
  top: 25%;
  border-radius: 2px;
  background-color: #fff;

  & .date-display {
    width: 196px;
    height: 100%;
    background-color: #3f51b5;
    position: absolute;
    left: 0;
    top: 0;

    & .date-container {
      color: rgba(255, 255, 255, 0.54);
      font-size: 48px;
      position: absolute;
      @include center;

      & .hour, & .minutes {
        cursor: pointer;
        transition: 0.3s color;

        &.selected {
          color: #fff;
        }
      }

      & .hour {
        margin-right: 4px;
      }

      & .minutes {
        margin-left: 4px;
      }
    }

    & .am-pm-container {
      padding-top: 8px;
      font-size: 17px;
      margin: 0 auto;
      text-align: center;

      & .item {
        cursor: pointer;
        transition: 0.3s color;

        &:last-child {
          margin-top: 4px;
        }

        &.selected {
          color: #fff;
        }
      }
    }
  }

  & .clock-buttons-container {
    width: calc(100% - 196px);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #fff;

    & .clock {
      width: 270px;
      height: 270px;
      border-radius: 100%;
      position: absolute;
      margin-top: -24px;
      @include center;
      background-color: #eee;

      & .dot {
        background-color: #3f51b5;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        position: absolute;
        @include center;
      }

      & .line {
        background-color: #3f51b5;
        height: calc(50% - 28px);
        width: 2px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: calc(75% + 12px);
        transform: translateY(-75%);
        transform-origin: center top;
      }

      & .tick {
        width: 40px;
        height: 40px;
        position: absolute;
        border-radius: 100%;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s background-color, 0.3s color;

        & .number {
          display: inline-block;
          position: absolute;
          @include center;
        }

        &.selected {
          background-color: #3f51b5;
          color: #fff;
        }
      }

      & .ticks-container {
        width: 270px;
        height: 270px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s transform;
      }
    }

    & .buttons-container {
      position: absolute;
      right: 0;
      bottom: 8px;

      & .material-button {
        float: right;
        margin-right: 8px;
        background-color: transparent;
        color: #3f51b5;
        min-width: 0px;
        padding-left: 18px;
        padding-right: 18px;

        &:first-child {
          margin-right: 16px;
        }
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    & .hours-clock, & .minutes-clock {
      transition: 0.3s opacity;
    }

    & .minutes-clock {
      opacity: 0;
      display: none;

      & .ticks-container {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.material-time-picker-dark {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  display: none;
  position: fixed;
  top: 0;
  z-index: 8;
  transition: 0.3s opacity;
}

@media (max-width: 624px) {
  .material-time-picker {
    width: 356px;
    height: 464px;

    & .date-display {
      width: 100%;
      height: 90px;

      & .am-pm-container {
        position: absolute;
        top: 0;
        right: -38px;
      }
    }

    & .clock-buttons-container {
      width: 100%;
      height: calc(100% - 88px);
      top: 88px;
    }
  }
}
