.delete-category-dialog {
  & .material-preloader {
    width: 54px;
    height: 54px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  & .material-dialog {
    min-height: 188px;
  }

  & .material-dialog-content {
    padding-top: 20px;
    margin-top: 0px;
    overflow: hidden;
  }
}
