.material-tooltip {
  width: auto;
  max-width: 128px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #444;
  opacity: 0.8;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  @include Roboto-Regular;
  display: none;
  opacity: 0;
  top: 0;
  transition: opacity 0.3s;
  position: fixed;
  z-index: 10;
}

.material-tooltip.toggled {
  opacity: 0.8;
  transition: opacity 0.3s;
}
