.add-post-dialog {
  width: 100%;
  height: calc(100% - 88px);
  position: absolute;
  top: 64px;
  left: 0;
  z-index: 7;
  background-color: #F5F5F5;
  opacity: 0;
  display: none;
  overflow: auto;
  transition: 0.3s opacity;
  padding-top: 24px;
}

.add-post-dialog-container {
  width: calc(100% - 64px);
  padding: 32px;
  max-width: 576px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;

  & a {
    margin-top: 24px;
  }
}

.add-post-dialog-text-field-content {
  margin-top: 24px;
}

.add-post-dialog-upload-container {
  margin-top: 24px;
  height: 37px;

  & .button {
    background-color: #3f51b5;
    float: left;
  }

  & .upload-input {
    display: none;
  }

  & .value-container {
    max-width: calc(100% - 156px);
    float: right;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-left: 24px;
    @include Roboto-Regular;
    font-size: 16px;
    color: #000;
    position: relative;
    transition: 0.3s max-width;

    & .value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 32px);
      opacity: 0;
      transition: 0.2s opacity;
    }

    & .indicator {
      width: 0%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      background-color: #FFC107;
      transition: 0.3s width;
    }

    & .icon {
      width: 32px;
      height: 32px;
      position: absolute;
      right: 0;
      top: 2px;
      opacity: 0;
      display: none;
      transition: 0.3s opacity;
      cursor: pointer;
      border-radius: 100%;
      @include image-center(24px, 24px);
      background-image: url(images/Toolbar/exit.png);
    }
  }
}

.add-post-dialog-switch-container {
  margin-top: 24px;
  height: 16px;

  & .text {
    @include Roboto-Regular;
    font-size: 14px;
    color: #000;
    opacity: 0.7;
    float: left;
    transform: translateZ(0);
  }

  & .material-switch {
    margin-left: 16px;
    margin-top: 1.5px;
    float: left;

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

@media screen and (max-width: 480px) {
  .add-post-dialog .media {
    max-width: 100% !important;
  }
}
