.material-checkbox {
  width: 18px;
  height: 18px;
  position: relative;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;

  &.disabled {
    opacity: 0.26;

    & .material-checkbox-border {
      background-color: #757575;
    }
  }
}

.material-checkbox-border {
  border-width: 2px;
  border-color: #757575;
  border-style: solid;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  transition: 0.15s border-width, 0.15s border-color;
}

.material-checkbox-cover-animation {
  -webkit-clip-path: inset(0 0 0 0);
  transition: 0.3s all;
}

.material-checkbox-hide {
  -webkit-clip-path: inset(0 100% 0 0);
}

.material-checkbox-icon {
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAAA+0lEQVR42u3XzRWCMBREYQpQ7MBKLMdC6MoC/O3HAsaNC0AI4W14c7zTQL67SU6ahjHGGGOMMcYYY4wNpoPO3vyXpM6bL9OEHt8xYcR3S5jgOyXM8F0C4MOP81v48OHDhw8fPvy/4D/hw/fj66SLds78t6RrPCEDX/GELPxgQiZ+IGFb/vGHL0m3+oTNL051k8dXJqS49+MJavVI8WzNJuwt+LGEVPz1Cen46xJS8gsJ92FCWn5dQmr+ckJ6fjnBgl9M8OAXEpw+i5UJWfmVCZn5FQnZ+QsJDvxCggt/JsGJP5Hgxh8lOPJ7Ca78b4IznzHGGGOMMcYYM9wHIbQjQ3oTolkAAAAASUVORK5CYII=);
  background-size: 16px 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
