.preloader-determinate {
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 54px;
  height: 54px;
}

.preloader-determinate .path {
  stroke-dashoffset: 0;
  stroke-linecap: square;
  stroke: #FFC107;
  stroke-width: 4;
  stroke-dasharray: 0, 200;
  transition: 0.3s stroke-dasharray ease;
  display: none;
}
