.page-gallery-pictures-container {
  line-height: 0;
  column-gap: 0px;
  column-count: 3;
  margin-left: auto;
  margin-right: auto;

  & .picture {
    position: relative;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s opacity;
    overflow: hidden;

    & img {
      width: 100%;
      height: auto;
    }

    & .select-container {
      width: 0px;
      height: 0px;
      position: absolute;
      @include center;
      background-color: rgba(63, 81, 181, 0.5);
      border-radius: 100%;
      transition: 1s border-radius, 0.3s width ease, 0.3s height ease;
    }

    & .icon {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: url(images/Toolbar/exit.png);
      opacity: 0;
      display: none;
      transition: 0.3s opacity;
      @include image-center(32px, auto);
      @include invert-colors;
    }
  }

  &.many {
    column-count: 4;
  }

  &.count-1 {
    column-count: auto;
    width: auto;

    & .picture {
      & img {
        width: 50%;
        height: auto;
        margin: 0 auto;
        display: block;
      }
    }
  }

  &.count-2 {
    column-count: 2;
    max-width: 800px;
  }

  &.vertical .picture img {
    width: auto;
    max-height: 400px;
  }
}

@media (max-width: 1000px) {
  .page-gallery-pictures-container {
    column-count: 3 !important;

    &.count-1 {
      column-count: auto !important;
    }
  }
}

@media (max-width: 650px) {
  .page-gallery-pictures-container {
    column-count: 2 !important;

    &.count-1 {
      column-count: auto !important;
    }
  }
}

@media (max-width: 500px) {
  .page-gallery-pictures-container {
    column-count: auto !important;

    & .picture img {
      height: auto !important;
      max-height: none !important;
      width: 100% !important;
    }
  }
}
