.material-table {
  width: 80%;
  max-width: 1000px;
  opacity: 0;
  transition: 0.3s opacity;
  background-color: #fff;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.3s ease margin-top, 0.3s ease width;

  & thead tr th {
    @include Roboto-Medium;
    font-size: 16px;
    color: rgba(0,0,0,0.54);
    text-align: left;
    padding: 18px;
    vertical-align: top;
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  & tbody tr td {
    @include Roboto-Light;
    @include text-selectable;
    text-align: left;
    padding: 18px;
    vertical-align: top;
    border-top: 0;
    color: rgba(0, 0, 0, 87);
    font-size: 16px;
  }

  & tbody .border td {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  & .bold {
    @include Roboto-Regular;
  }
}

@media screen and (max-width: 600px) {
  .material-table {
    margin-top: 0px;
    width: 100%;

    & thead tr th {
      font-size: 13px;
    }

    & tbody tr td {
      font-weight: 400px;
      font-size: 12px;
    }
  }
}
