.tab-layout {
  width: calc(100% - 48px);
  height: 48px;
  color: rgba(255, 255, 255, 0.6);
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  transition: 0.3s opacity;
  margin-left: 48px;
  margin-top: 16px;
}

.indicator {
  height: 2px;
  bottom: 0;
  position: relative;
  margin-top: -6px;
  transition: 0.15s left ease;
  background-color: #fff;
}

.tab-page {
  position: absolute !important;
  top: 0;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  left: 100%;
  display: none;
  transition: 0.15s left ease;
}
