.tab-layout {
  width: 100%;
  height: 48px;
  color: rgba(255, 255, 255, 0.6);
  white-space: nowrap;
}

.indicator {
  height: 2px;
  bottom: 0;
  position: absolute;
}

.tab-page {
  margin-top: 8px;
  position: absolute !important;
  top: 0;
  width: 100%;
  height: auto;
}

.posts-tab {
  margin-bottom: 24px;
}
