.tab-layout {
  width: 100%;
  height: 48px;
  color: rgba(255, 255, 255, 0.6);
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  transition: 0.3s opacity;
}

.indicator {
  height: 2px;
  bottom: 0;
  position: absolute;
  transition: 0.25s left ease;
  background-color: #fff;
}

.tab-page {
  position: absolute !important;
  top: 0;
  width: 100%;
  height: auto;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  left: 100%;
  display: none;
  transition: 0.25s left ease;
}
