.login-dialog {
  opacity: 1;
  transition: 0.3s opacity;

  & .material-dialog-content {
    margin-top: 0px;
    padding-top: 20px;
  }

  & .login-dialog-password {
    margin-top: 48px;

    & .material-text-field-input {
      width: calc(100% - 28px);
    }

    & .material-text-field-action-icon {
      display: block;
      top: 4px;
      background-image: url(images/LoginDialog/visible.png);
    }

    &.visible .material-text-field-action-icon {
      background-image: url(images/LoginDialog/hidden.png);
    }
  }

  & .login-dialog-form {
    opacity: 1;
    transition: 0.3s opacity;
  }

  & .login-dialog-preloader-container {
    width: 54px;
    height: 54px;
    position: absolute;
    @include center;
    display: none;
  }
}

/*
.login-dialog-forgot-password {
  @include Roboto-Regular;
  color: #2196f3;
  font-size: 14px;
  margin-top: 48px;
  cursor: pointer;
  clear:both;
}

.login-dialog-password {
  margin-top: 48px;

  & .material-text-field-input {
    width: calc(100% - 26px);
  }

  & .material-text-field-action-icon {
    top: 4px;
  }
}

.login-dialog-message {
  opacity: 0;
  transition: 0.3s opacity;
  display: none;
}

.login-dialog-message-avatar {
  width: 96px;
  height: 96px;
  margin-top: -7px;
  margin-bottom: 18px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 100%;
}

.login-dialog-message-avatar-pic {
  width: 0px;
  height: 0px;
  background-color: blue;
  position: absolute;
  border-radius: 100%;
  @include center;
  @include image-center(100%, 100%);
  transition: 0.3s width, 0.3s height;
}

.login-dialog-preloader {
  width: 54px;
  height: 54px;
  position: absolute;
  @include center;
}*/
