.login-dialog-forgot-password {
  @include Roboto-Regular;
  color: #2196f3;
  font-size: 14px;
  margin-top: 48px;
  cursor: pointer;
  clear:both;
}

.login-dialog-content {
  width: 100%;
  transition: 0.3s opacity, 0.3s visibility, 0.3s margin-left;
}

.login-dialog-message {
  margin-left: 100%;
  transition: 0.3s opacity, 0.3s visibility, 0.3s margin-left;
}

.login-dialog-preloader {
  width: 54px;
  height: 54px;
  position: absolute;
  @include center;
}
