.login-dialog-forgot-password {
  @include Roboto-Regular;
  color: #2196f3;
  font-size: 14px;
  margin-top: 48px;
  cursor: pointer;
  clear:both;
}

.login-dialog-content {
  width: 100%;
  transition: 0.3s opacity, 0.3s visibility, 0.3s margin-left;
}

.login-dialog-message {
  width: 100%;
  margin-left: 80%;
  transition: 0.3s opacity, 0.3s visibility, 0.3s margin-left;
  opacity: 0;
  display: none;
}

.login-dialog-message-avatar {
  width: 0px;
  height: 0px;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 18px;
  border-radius: 100%;
  transition: 0.5s width ease-in-out, 0.5s height ease-in-out;
  @include image-center(100%, 100%);
}

.login-dialog-preloader {
  width: 54px;
  height: 54px;
  position: absolute;
  @include center;
}
