html, body {
  @include Roboto-Regular;
  @include cursor-default;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0) !important;
}

.tab-layout-1 {
  position: absolute;
  bottom: 0;
}

.tab-pages {
  position: relative;
  height: calc(100% - 128px);
  z-index: 7;
  transition: 0.3s opacity;
  background-color: $backgroundColor;
}

.app-content {
  position: fixed;
  background-color: #FFFFFF;
  transition: width 0.3s ease;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

.data-preloader {
  position: fixed;
  @include center;
  z-index: 8;
  visibility: hidden;
}
