html, body {
  @include Roboto-Regular;
  @include cursor-default;
  padding: 0;
  margin: 0;
  background-color: $backgroundColor;
}

body {
  overflow: hidden;
}

.tab-layout-1 {
  position: absolute;
  bottom: 0;
}

.tab-pages {
  position: relative;
  height: calc(100% - 136px);
  overflow: auto;
}

.app-content {
  top: 0;
  right: 0;
  position: absolute;
  background-color: #FFFFFF;
  transition: width 0.3s;
  height: 100%;
}
