.material-dialog {
  width: 400px;
  height: auto;
  background-color: #F9F9F9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.3s opacity, 0.3s visibility, 0.3s top;
}

.material-dialog-title {
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  @include Roboto-Medium
  font-size: 20px;
  color: #000;
}

.material-dialog-content {
  @include Roboto-Regular;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  font-size: 16px;
  color: #444;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    transition: 0.3s background-color;
  }

  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border: 0px none #ffffff;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.65);
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}

.material-dialog-action {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 24px;
}

.material-dialog-action-side-by-side .material-button {
  margin-right: 8px;
  float: right;
  min-width: 64px;
  padding-left: 10px;
  padding-right: 10px;
}

.material-dialog-action-side-by-side .material-dialog-action-clear {
  clear: both;
}

.material-dialog-action-list {
  padding-bottom: 8px;
}

.material-dialog-action-list .material-dialog-action {
  padding-top: 0px;
  padding-bottom: 0px;
}

.material-dialog-action-list .material-button {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
  float: right;
  width: 100%;
  text-align: right;
}

.material-dialog-dark {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  position: absolute;
  z-index: 8;
  transition: 0.3s opacity, 0.3s visibility;
}
