.category {
  width: 200px;
  height: 200px;
  background-color: #fff;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  cursor: pointer;
}

.category-title {
  width: calc(100% - 48px);
  height: auto;
  padding: 16px;
  padding-right: 32px;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  @include Roboto-Regular;
  @include text-selectable;
  z-index: 10;
}

.category-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 51px;
  height: 51px;
  @include image-center(22px, 22px);
  background-image: url(images/NavigationDrawer/info.png);
  @include invert-colors;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s opacity;
}

.category-info:hover {
  opacity: 1;
  transition: 0.3s opacity;
}
