.category {
  width: 200px;
  height: 200px;
  background-color: #fff;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
}

.category-title {
  width: calc(100% - 48px);
  height: auto;
  padding: 16px;
  padding-right: 32px;
  position: absolute;
  bottom: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  @include Roboto-Regular;
  @include text-selectable;
  z-index: 10;
}

.category-info {
  position: absolute;
  right: 12px;
  width: 22px;
  height: 22px;
  @include center-vertical-important;
  @include image-center(22px, 22px);
  @include invert-colors;
  cursor: pointer;
}
