.lessons-plan-day {
  & .subjects-container {
    & .lesson {
      width: 100%;
      padding-top: 15px;
      padding-bottom: 15px;
      overflow: hidden;
      position: relative;
      cursor: pointer;

      & .hour {
        margin-left: 24px;
        display: inline-block;
      }

      & .subject {
        display: inline-block;
        margin-left: 16px;
        opacity: 0.54;
      }

      & .menu-icon {
        width: 48px;
        height: 48px;
        position: absolute;
        @include center-vertical;
        right: 12px;
        @include image-center(24px, auto);
        background-image: url(images/more.png);
        opacity: 0.54;
        cursor: pointer;
      }

      $border: 1px solid rgba(0, 0, 0, 0.24);

      &.border-top {
        border-top: $border;
      }

      &.border-bottom {
        border-bottom: $border;
      }
    }

    &.default-cursor .lesson {
      cursor: default;
    }
  }
}
