$backgroundColor: #FAFAFA;
$indicator-color: #fff;
$navigationDrawerHeader: #1E88E5;
$pictureBlur: 10px;

@import 'mixins/positioning.scss';
@import 'mixins/fonts.scss';
@import 'mixins/icons.scss';
@import 'mixins/cursors.scss';
@import 'mixins/backgrounds.scss';
@import 'mixins/shadows.scss';
@import 'mixins/text.scss';

@import 'views/App/styles.scss';
@import 'views/App/components/Toolbar/style.scss';
@import 'views/App/components/Toolbar/components/MultiIcon/style.scss';
@import 'views/App/components/TabLayout/style.scss';
@import 'views/App/components/TabLayout/components/Tab/style.scss';

@import 'views/App/components/NavigationDrawer/style.scss';
@import 'views/App/components/NavigationDrawer/components/NavigationDrawerItem/style.scss';

@import 'views/App/components/LoginDialog/style.scss';

@import 'views/Tabs/Posts/style.scss';
@import 'views/Tabs/Posts/components/Post/style.scss';
@import 'views/Tabs/Posts/components/Post/components/Comment/style.scss';
@import 'views/Tabs/Posts/components/Post/components/CommentInput/style.scss';

@import 'views/Tabs/Gallery/style.scss';
@import 'views/Tabs/Gallery/Components/Category/style.scss';
@import 'views/Tabs/Gallery/Components/Picture/style.scss';

@import 'views/Tabs/LessonsPlan/style.scss';

@import 'src/imports/materialdesign/components/Dialog/style.scss';
@import 'src/imports/materialdesign/components/MaterialButton/style.scss';
@import 'src/imports/materialdesign/components/Preloader/style.scss';
@import 'src/imports/materialdesign/components/TextField/style.scss';
@import 'src/imports/materialdesign/components/Tooltip/style.scss';
@import 'src/imports/materialdesign/helpers/ripple/style.scss';
