$backgroundColor: #FAFAFA;
$indicator-color: #fff;
$navigationDrawerHeader: #1E88E5;

@import 'mixins/positioning.scss';
@import 'mixins/fonts.scss';
@import 'mixins/icons.scss';
@import 'mixins/cursors.scss';
@import 'mixins/backgrounds.scss';
@import 'mixins/shadows.scss';

@import 'views/App/styles.scss';
@import 'views/App/components/Toolbar/style.scss';
@import 'views/App/components/Toolbar/components/MultiIcon/style.scss';
@import 'views/App/components/TabLayout/style.scss';
@import 'views/App/components/TabLayout/components/Tab/style.scss';
@import 'views/Tabs/Posts/components/Post/style.scss';
@import 'views/App/components/NavigationDrawer/style.scss';

@import 'src/imports/materialdesign/helpers/ripple/style.scss';
@import 'src/imports/materialdesign/components/Tooltip/style.scss';
@import 'src/imports/materialdesign/components/Preloader/style.scss';
