html, body {
  @include Roboto-Regular;
  @include cursor-default;
  background-color: #eee;
}

.login-form {
  width: 100%;
  max-width: 450px;
  height: auto;
  padding-top: 54px;
  padding-bottom: 64px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);

  & .title {
    width: calc(100% - 32px);
    padding: 16px;
    font-size: 18px;
    color: #fff;
    background-color: #3f51b5;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
  }

  & .form {
    padding-top: 24px;
    padding-bottom: 16px;

    & .material-text-field {
      width: calc(100% - 64px);
      margin: 0 auto;

      &.password {
        margin-top: 16px;
      }
    }

    & .incorrect-data {
      color: #d32f2f;
      font-size: 14px;
      left: 32px;
      bottom: 54px;
      position: absolute;
      opacity: 0;
      transition: 0.3s opacity;
    }

    & .bottom-container {
      width: 100%;
      position: absolute;
      bottom: 16px;

      & .material-button {
        margin-right: 32px;
        float: right;
      }

      & .reset-password {
        position: absolute;
        left: 32px;
        @include center-vertical();
      }

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }
  }

  & .preloader-container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: 0;
    display: none;
    transition: 0.3s opacity;
    z-index: 1;

    & .material-preloader {
      width: 54px;
      height: 54px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.copy-right, .github {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
}

.copy-right {
  bottom: 16px;
  color: rgba(0, 0, 0, 0.74);

  & .nersent-logo {
    width: 48px;
    height: 48px;
    @include image-center(100%, auto);
    background-image: url(images/nersent-logo.png);
    float: right;
    position: absolute;
    top: 50%;
    right: -56px;
    transform: translateY(-50%);
  }
}

.github {
  bottom: 48px;
  color: rgba(0, 0, 0, 0.54);
}
