.posts-table-list {
  display: none;

  &.checkboxes .posts-table-list-item .cell.action {
    & .material-checkbox {
      display: block;
    }

    & .menu-icon {
      display: none;
    }
  }

  &.pictures .posts-table-list-item .cell.picture {
    display: block;
  }
}

.posts-table-list-item {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: calc(100% - 48px);
  height: auto;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: relative;
  border-radius: 2px;

  &:first-child {
    margin-top: 16px;
  }

  &:last-child {
    margin-bottom: 32px;
  }

  & .cell {
    padding: 16px;
    font-size: 16px;
    transition: 0.3s background-color;
    position: relative;

    &:hover {
      background-color: #eee;
      transition: 0.3s background-color;
    }

    &::after {
      content: '';
      display: block;
      clear: both;
    }

    & .title {
      float: left;
      @include Roboto-Medium;
      color: rgba(0, 0, 0, 0.54);
      width: 25%;
      margin-left: 8px;
    }

    & .text {
      width: calc(75% - 16px);
      text-align: right;
      margin-right: 8px;
      float: right;
      @include Roboto-Regular;
      color: rgba(0, 0, 0, 0.87);
      position: relative;
    }

    &.action {
      min-height: 58px;
      padding: 0px;

      & .text {
        margin-right: 0px;
      }

      & .title {
        position: absolute;
        left: 16px;
        @include center-vertical;
      }

      & .material-checkbox {
        position: absolute;
        top: 20px;
        right: 24px;
        display: none;
      }

      & .menu-icon {
        width: 58px;
        height: 58px;
        @include image-center(24px, auto);
        background-image: url(images/Toolbar/more.png);
        opacity: 0.7;
        cursor: pointer;
      }

      & .text {
        width: auto;
      }
    }

    &.picture {
      display: none;

      & .text img {
        max-width: 196px;
      }
    }
  }
}
