.post-comment {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 20px;
  width: 100%;
}

.post-comment-author {
  @include Roboto-Medium;
  font-size: 16px;
}

.post-comment-text {
  @include Roboto-Regular;
  font-size: 14px;
}

.post-comment-date {
  margin-top: 2px;
  @include Roboto-Medium;
  font-size: 14px;
}

.post-comment-avatar {
  width: 36px;
  height: 36px;
  float: left;
  @include image-center(36px, 36px);
}

.post-comment-avatar-right {
  width: calc(100% - 76px);
  float: left;
  padding-left: 12px;
}
