.post-comment {
  position: relative;
  padding-bottom: 24px;
  user-select: auto;
}

.post-comment-avatar {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  @include image-center(100%, 100%);
  background-image: url(https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/14581320_549947718524540_5437545186607783553_n.jpg?oh=1d709d8978f80d6887041c3e9583f27f&oe=59994281);
  margin-left: 16px;
  float: left;
}

.post-comment-info {
  width: calc(100% - 90px);
  padding-left: 16px;
  padding-right: 16px;
  float: left;
}

.post-comment-author {
  font-size: 16px;
  @include Roboto-Medium;
}

.post-comment-content {
  font-size: 16px;
  padding-top: 4px;
}

.post-comment-date {
  font-size: 14px;
  position: absolute;
  top: 2px;
  right: 26px;
  opacity: 0.75;
}

.post-comment-clear {
  clear: both;
}
