.page-gallery-category {
  width: 200px;
  height: 200px;
  background-color: #fff;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  margin-top: 4px;
  margin-left: 4px;

  & .container {
    width: calc(100% - 48px);
    height: auto;
    padding: 16px;
    padding-right: 32px;
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    @include Roboto-Regular;
    @include text-selectable;
    @include text-unselectable;
    z-index: 10;

    & .menu-icon {
      position: absolute;
      top: 0;
      right: 0;
      width: 51px;
      height: 51px;
      @include image-center(24px, auto);
      background-image: url(images/Toolbar/more.png);
      @include invert-colors;
      opacity: 0.7;
      transition: 0.3s opacity;

      &:hover {
        opacity: 1;
      }
    }
  }
}
