.post-comment-input {
  padding-bottom: 8px;
}

.post-comment-input-textarea {
  width: calc(100% - 42px);
  outline: none;
  border: none;
  resize: none;
  font-size: 14px;
  @include Roboto-Regular;
  margin-left: 16px;
  background-color: transparent;
}

.post-comment-input-textarea::placeholder {
  opacity: 0.7;
}

.post-comment-input-textarea-not-logged {
  cursor: pointer;
}

.post-comment-input-textarea-not-logged::placeholder {
  color: #2196f3;
  @include Roboto-Medium;
}

.post-comments-input-action {
  padding-left: 16px;
  height: 0px;
  overflow: hidden;
  transition: 0.3s height ease-in-out;
}
