.post-comment-input {
  padding-bottom: 8px;
}

.post-comment-input-textarea {
  width: calc(100% - 42px);
  outline: none;
  border: none;
  resize: none;
  font-size: 14px;
  @include Roboto-Regular;
  margin-left: 16px;
}

@mixin post-comment-textarea-placeholder {
  opacity: 0.7;
}

.post-comment-input-textarea::-webkit-input-placeholder {
  @include post-comment-textarea-placeholder;
}

.post-comment-input-textarea::-moz-placeholder {
  @include post-comment-textarea-placeholder;
}

.post-comment-input-textarea:-ms-input-placeholder {
  @include post-comment-textarea-placeholder;
}

.post-comment-input-textarea:-moz-placeholder {
  @include post-comment-textarea-placeholder;
}

.post-comments-input-action {
  padding-left: 16px;
  height: 0px;
  overflow: hidden;
  transition: 0.3s height ease-in-out;
}
