.upload-pictures-dialog-container {
  width: calc(100% - 64px);
  max-width: 640px;
  margin: 24px auto;
  position: relative;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 2px;
}

.upload-pictures-preloader {
  width: 54px;
  height: 54px;
  position: absolute;
  margin-top: -32px;
  @include center;
  display: none;
}

.upload-pictures-dialog .input {
  display: none;
}
