.gallery-categories {
  width: 1000px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  opacity: 0;
  transition: 0.3s width ease-in-out, 0.3s opacity;
}

@media screen and (min-width: 1400px) {
  .gallery-categories {
    width: 1200px;
  }
}

@media screen and (max-width: 1000px) {
  .gallery-categories {
    width: 800px;
  }
}

@media screen and (max-width: 800px) {
  .gallery-categories {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .gallery-categories {
    width: 400px;
  }
}

@media screen and (max-width: 416px) {
  .gallery-categories {
    width: 100%;

    & .category {
      width: 100%;
      height: 0px;
      padding-top: 100%;
      float: none;
    }
  }
}

.gallery-pictures {
  line-height: 0;
  -webkit-column-gap: 0px;
  -moz-column-gap: 0px;
  column-gap: 0px;
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  margin-left: auto;
  margin-right: auto;
  display: none;
  opacity: 0;
  transition: 0.15s opacity;
}

.gallery-pictures-many {
  -moz-column-count: 4;
  -webkit-column-count: 4;
  column-count: 4;
}

.gallery-pictures-1 {
  -moz-column-count: auto;
  -webkit-column-count: auto;
  column-count: auto;
  width: auto;

  & .picture {
    max-height: 400px;
    width: auto;
    margin: 0 auto;
    display: block;
    float: none;
  }
}

.gallery-pictures-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  max-width: 800px;
}

@media (max-width: 1000px) {
  .gallery-pictures-many {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }

  .gallery-pictures-1 {
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto;
  }
}

@media (max-width: 650px) {
  .gallery-pictures {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .gallery-pictures-1 {
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto;
  }
}

@media (max-width: 500px) {
  .gallery-pictures {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .gallery-pictures-1 {
    & .picture {
      height: auto;
      max-height: none;
      width: 100%;
    }
  }

  .gallery-pictures-1 {
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto;
  }
}

.gallery-picture-full-screen-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  transition: 0.3s opacity;
  overflow: hidden;
}

.gallery-picture-full-screen-blur {
  width: 125%;
  height: 125%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  @include blur($pictureBlur);
  position: absolute;
  left: -2%;
  top: 0;
  z-index: 1;
}

.gallery-picture-full-screen {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2;
  transform: translateY(-50%);
}

.gallery-picture-full-screen-pic-small {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 550px) {
  .gallery-picture-full-screen-pic {
    background-size: 100% auto;
  }
}

.gallery-gradient {
  width: 100%;
  height: 128px;
  position: fixed;
  top: 0;
  @include gradient(rgba(0,0,0,0.5), transparent);
  display: none;
  opacity: 0;
  transition: 0.3s opacity;
}

.toolbar.transparent {
  background-color: transparent;
  box-shadow: none;
}
