$backgroundColor: #F5F5F5;
$indicator-color: #fff;
$navigationDrawerHeader: #3F51B5;
$pictureBlur: 10px;

@import 'mixins/positioning.scss';
@import 'mixins/fonts.scss';
@import 'mixins/icons.scss';
@import 'mixins/cursors.scss';
@import 'mixins/backgrounds.scss';
@import 'mixins/shadows.scss';
@import 'mixins/text.scss';

@import 'src/imports/materialdesign/mixins/scroll.scss';
@import 'src/imports/materialdesign/components/Checkbox/style.scss';
@import 'src/imports/materialdesign/components/Dialog/style.scss';
@import 'src/imports/materialdesign/components/MaterialButton/style.scss';
@import 'src/imports/materialdesign/components/Menu/style.scss';
@import 'src/imports/materialdesign/components/Preloader/style.scss';
@import 'src/imports/materialdesign/components/PreloaderDeterminate/style.scss';
@import 'src/imports/materialdesign/components/TextField/style.scss';
@import 'src/imports/materialdesign/components/Tooltip/style.scss';
@import 'src/imports/materialdesign/components/FAB/style.scss';
@import 'src/imports/materialdesign/components/Snackbar/style.scss';
@import 'src/imports/materialdesign/components/Switch/style.scss';
@import 'src/imports/materialdesign/helpers/ripple/style.scss';

@import 'views/App/styles.scss';

@import 'views/App/components/Toolbar/style.scss';
@import 'views/App/components/Toolbar/components/MultiIcon/style.scss';

@import 'views/App/components/NavigationDrawer/style.scss';
@import 'views/App/components/NavigationDrawer/components/NavigationDrawerItem/style.scss';

@import 'views/Pages/style.scss';
@import 'views/Pages/Posts/style.scss';
@import 'views/Pages/Posts/components/Table/style.scss';
@import 'views/Pages/Posts/components/List/style.scss';
@import 'views/Pages/Posts/components/PostDialog/style.scss';
@import 'views/Pages/Posts/components/PostDialog/components/Post/style.scss';

@import 'views/Pages/Gallery/style.scss';
@import 'views/Pages/Gallery/components/PicturesDialog/style.scss';
@import 'views/Pages/Gallery/components/UploadPicturesDialog/style.scss';
@import 'views/Pages/Gallery/components/UploadPicturesDialog/components/Item/style.scss';
@import 'views/Pages/Gallery/components/Section/style.scss';
@import 'views/Pages/Gallery/components/Section/components/SubHeader/style.scss';
@import 'views/Pages/Gallery/components/Section/components/Category/style.scss';

@import 'views/Pages/LessonsPlan/style.scss';
@import 'views/Pages/LessonsPlan/components/AddLessonDialog/style.scss';
