$backgroundColor: #F5F5F5;
$indicator-color: #fff;
$navigationDrawerHeader: #3F51B5;
$pictureBlur: 10px;

@import 'mixins/positioning.scss';
@import 'mixins/fonts.scss';
@import 'mixins/icons.scss';
@import 'mixins/cursors.scss';
@import 'mixins/backgrounds.scss';
@import 'mixins/shadows.scss';
@import 'mixins/text.scss';

@import 'src/imports/materialdesign/mixins/scroll.scss';

@import 'views/App/styles.scss';
@import 'views/App/components/Toolbar/style.scss';
@import 'views/App/components/Toolbar/components/MultiIcon/style.scss';

@import 'views/App/components/NavigationDrawer/style.scss';
@import 'views/App/components/NavigationDrawer/components/NavigationDrawerItem/style.scss';

@import 'views/Pages/style.scss';
@import 'views/Pages/Posts/style.scss';
@import 'views/Pages/Posts/components/DekstopTable/style.scss';
@import 'views/Pages/Posts/components/MobileTable/style.scss';

@import 'src/imports/materialdesign/components/Checkbox/style.scss';
@import 'src/imports/materialdesign/components/Dialog/style.scss';
@import 'src/imports/materialdesign/components/MaterialButton/style.scss';
@import 'src/imports/materialdesign/components/Preloader/style.scss';
@import 'src/imports/materialdesign/components/TextField/style.scss';
@import 'src/imports/materialdesign/components/Tooltip/style.scss';
@import 'src/imports/materialdesign/components/FAB/style.scss';
@import 'src/imports/materialdesign/components/Snackbar/style.scss';
@import 'src/imports/materialdesign/helpers/ripple/style.scss';
