@mixin material-scroll ($width: 6px, $backgroundColor: rgba(0, 0, 0, 0.5), $hoverBackgroundColor: rgba(0, 0, 0, 0.65)) {
  &::-webkit-scrollbar {
    width: $width;
    transition: 0.3s background-color;
  }

  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: $backgroundColor;
    border: 0px none #ffffff;
    border-radius: 0px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $hoverBackgroundColor;
  }

  &::-webkit-scrollbar-corner {
    background: transparent;
  }
}
