.navigation-drawer {
  position: absolute;
  bottom: 0;
  transition: 0.3s width, 0.3s left;
  z-index: 10;
  background-color: #fff;
  height: 100%;
  width: 240px;
  left: -240px;
}

.navigation-drawer-header {
  width: 100%;
  height: 128px;
  background-color: $navigationDrawerHeader;
  @include image-center(128px, auto);
  //background-image: url(images/NavigationDrawer/header.png);
  position: relative;
  overflow: hidden;
}

.navigation-drawer-header-avatar {
  width: 52px;
  height: 52px;
  border-radius: 100%;
  @include image-center(100%, 100%);
  margin-left: 16px;
  margin-top: 16px;
  cursor: pointer;
}

.navigation-drawer-header-username {
  margin-top: 8px;
  margin-left: 16px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.navigation-drawer-header-email {
  margin-top: 2px;
  margin-left: 16px;
  font-size: 16px;
  color: #fff;
  @include Roboto-Light;
  cursor: pointer;
}

.navigation-drawer-content {
  width: 100%;
  height: calc(100% - 128px);
  padding-top: 10px;
  border-right: 1px solid rgba(0,0,0,0.12);
}

.navigation-drawer-divider {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

.dark {
  width: 100%;
  height: 100%;
  position: absolute;
  @include set(0, 0, 0, 0);
  transition: 0.3s opacity;
  z-index: 9;
  background-color: #000;
  display: none;
  opacity: 0;
}
